spring:
  application:
  name: Notification Service
  datasource:
    url: jdbc:postgresql://localhost:5432/notif
    username: notif
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8084


